<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tanques</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="no-gap">
    <ng-container *ngFor="let gauge of gaugesData; let i = index">
      <ng-container *ngIf="gauge.activo">
        <!-- Fila 1: Título del tanque -->
        <ion-row>
          <ion-col size="12">
            <h2 class="title-tanque">Tanque {{ gauge.tanque }}: {{ gauge.producto }}</h2>
          </ion-col>
        </ion-row>
        <!-- Fila 2: Widget (canvas) y tabla -->
        <ion-row class="row-content">
          <ion-col size="6">
            <canvas id="gaugeCanvas{{ i }}" width="220" height="220"></canvas>
          </ion-col>
          <ion-col size="6">
            <table class="data-table">
              <tr>
                <td><strong>Volumen</strong></td>
                <td>{{ gauge.volume }} Litros</td>
              </tr>
              <tr>
                <td><strong>Faltante</strong></td>
                <td>{{ gauge.missing }} Litros</td>
              </tr>
              <tr>
                <td><strong>Altura</strong></td>
                <td>{{ gauge.height }} mm</td>
              </tr>
              <tr>
                <td><strong>Bat</strong></td>
                <td>{{ gauge.battery }} %</td>
              </tr>
              <tr>
                <td><strong>Última</strong></td>
                <td>{{ gauge.lastUpdate }}</td>
              </tr>
            </table>
          </ion-col>
        </ion-row>
      </ng-container>
    </ng-container>
  </ion-grid>
</ion-content>
