<ion-app>
  <ion-split-pane when="md" contentId="main-content">
    <!-- Menú lateral -->
    <ion-menu contentId="main-content" menuId="first">
      <ion-header>
        <ion-toolbar>
          <ion-title>Telemedicion</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Telemedicion</ion-list-header>
          <ion-note>www.Desitec.com.ar</ion-note>

          <!-- Opciones existentes del menú -->
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item [routerLink]="[p.url]" routerLinkActive="selected" lines="none" detail="false" routerDirection="root">
              <ion-icon aria-hidden="true" slot="start" [name]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <!-- Nueva opción de Configuración -->
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="['/configuracion']" routerLinkActive="selected" lines="none" detail="false">
              <ion-icon aria-hidden="true" slot="start" name="settings-sharp"></ion-icon>
              <ion-label>Configuración</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <!-- Contenido principal -->
    <ion-content id="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-menu-button slot="start" menu="first"></ion-menu-button>
          <ion-title>Telemedicion</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-router-outlet></ion-router-outlet>
    </ion-content>
  </ion-split-pane>
</ion-app>
